html{
display: flex;
height: 100%;
width:100%;
background: #000000;
}


body{
display: flex;
height: 100%;
width:100%;
background: #000000;
}

.image{
background-size: cover;
height: 100%;
width: 100%;
}

.img1{
background-image: url("../images/bg1.jpg");
}

.p0{
    transform: translateX(0%);
}

.p100{
    transform: translateX(-100%);

}

.p200{
    transform: translateX(-200%);

}

.p300{
    transform: translateX(-300%);

}

.p400{
    transform: translateX(-400%);

}

.Carousel-Container{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    background: green;
}


.Carousel-Item{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 5px 5px #00000039;
    background:white;
    flex-shrink: 0;
    transition-duration: 1s;
}

.Next
{
background: black;
background-image: url("../images/next.png");
background-repeat: no-repeat;
background-size: contain;
height:75%;
width:5%;
align-self: center;
right:0;
position:absolute;		
}

.Prev{
background: black;
background-image: url("../images/preev.png");
background-repeat: no-repeat;
background-size: contain;
height:75%;
width:5%;
align-self: center;
left:0;
position:absolute;
}